.facilityList {
  padding: var(--spacing-lg) var(--spacing-md) 0;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.facilityGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: center;
  gap: 12px;
}