.button {
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-secondary);
  color: #000;
}

.iconOnly {
  padding: 8px;
}

.withText.tightPadding {
  padding: 6px 24px;
}

.withText.normalPadding {
  padding: 8px 24px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
