.navbar {
  background-color: var(--color-navbar-bg);
  padding: 0 32px;
  height: 54px;
}

.navContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks li a {
  color: var(--color-navbar-text);
  font-weight: 600;
  text-decoration: none;
}

.navLinks li a:hover,
.navLinks li a.active {
  color: var(--color-white);
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--color-navbar-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  .navContent {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-navbar-bg);
    width: 100%;
    padding: 16px;
    gap: 16px;
    z-index: 10;
  }

  .navLinks.mobileOpen {
    display: flex;
  }
}

